@tailwind base;
/* Base Start */
@layer base {
  :root {
    /* Brand Colors */
    --color-brand-primary: #080823;
    --color-brand-secondary: #adb2ca;
    --color-brand-accent: #ff5733;
    --color-brand-success: #28a745;
    --color-brand-danger: #dc3545;
    --color-border-primary: #1c1d36;

    /* Text colors */
    --text-gray: #7a7d96;
    --text-palestale-blue: #aaafc6;
    --text-slate-gray: #353750;
    --text-dark-gray: #0c0c27;
    --text-slate-indigo: #0c0c27;

    /* Background colors */
    --bg-slate-gray: #484a63;

    /* Gradients */
    /* Text Gradeints */

    --text-gradient-two-colors: linear-gradient(
      3.72deg,
      rgba(240, 238, 250, 0.8) 3.05%,
      #e1e8ff 96.95%
    );
    --text-gradient-three-colors: linear-gradient(
      90deg,
      #080823 0%,
      #49496e 50%,
      #080823 100%
    );

    --text-gradient-four-colors: linear-gradient(
      90deg,
      #b67dfc 0%,
      #ef84d5 22.6%,
      #ffac87 49.52%,
      #ffdaa5 100%
    );

    --text-gradient-five-colors: linear-gradient(
      90deg,
      #ceaef7 6.63%,
      #eda9e8 22.36%,
      #ee94c5 46.48%,
      #feb1a8 69.71%,
      #f5b697 100%
    );

    /* Background gradient */
    --background-gradient-two-colors: linear-gradient(
      177.66deg,
      rgba(226, 232, 255, 0) 1.88%,
      rgba(226, 232, 255, 0.121569) 97.97%
    );
    --bg-header-linear: linear-gradient(
      90deg,
      #080823 0%,
      #49496e 50%,
      #080823 100%
    );

    --background-dark-gradient-two-colors: linear-gradient(
      180deg,
      #13142d 0%,
      #191a34 100%
    );

    --background-gradient-three-colors: linear-gradient(
      95.07deg,
      #a66bff 4.59%,
      #fe72c2 49.92%,
      #ffa66d 98.87%
    );

    --btn-linear-gradient-custom-angle: linear-gradient(
      177.66deg,
      rgba(226, 232, 255, 0) 1.88%,
      rgba(226, 232, 255, 0.121569) 97.97%
    );
    --bg-linear-custom-angle-purple: linear-gradient(
      180deg,
      #292048 0%,
      #3e355c 100%
    );
    --bg-linear-custom-angle-purple-light: linear-gradient(
      180deg,
      #1f2138 0%,
      #393952 100%
    );
    --bg-linear-custom-angle-three-colors: linear-gradient(
      276.71deg,
      rgba(202, 183, 255, 0.0392157) -18.68%,
      rgba(255, 155, 197, 0.0392157) 38.63%,
      rgba(255, 202, 149, 0.0392157) 95.94%
    );

    /* You can also add other global variables here, e.g., font stacks */
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark; /* Signal light and dark theme support */

    /* Font smoothing for better text rendering */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: "Inter", sans-serif;
    @apply text-[var(--color-brand-secondary)] bg-[var(--color-brand-primary)] tracking-wide;
  }

  /* Body */
  h1,
  h2,
  h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700; /* Example: making headings bold */
  }
}
