/* Keyframes Starts*/
/*Card Section Spinning Wheel  */

.icon-rotation-anticlockwise {
  animation: rotate-clockwise 20s linear infinite;
}

.icon-rotation-clockwise {
  animation: rotate-anti-clockwise 20s linear infinite;
  transform-origin: center;
}
.outer-container {
  box-shadow: 0px 0px 100px 60px rgba(126, 8, 126, 0.097) inset;
}
.overlay-container-inset-shadow {
  box-shadow: 0px 0px 100px 60px rgba(126, 8, 126, 0.097) inset;
}

/* Regular */
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

/* Medium */
/* @font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
} */

/* SemiBold */
/* @font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
} */

/* Home Section Key Frame */
@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-anti-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Card Section KeyFrame */
@keyframes move-nacati-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-150px);
  }
}

/* Keyframes Ends */
